.App,
body {
	height: 100vh;
	margin: 0;
	padding: 0;
}
.nav {
	background: #4e4a5c;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.nav-btn {
	border: none;
	width: 135px;
	height: 35px;
	background: #ff9233;
	box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}
.nav-link {
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.home-page {
	background: url("./Assets/fitnessHome.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}
.home-title {
	display: flex;
	width: fit-content;
	flex-direction: column;
	align-items: center;
	margin: 150px;
	color: white;
}

.registerForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	min-height: 300px;
	margin: auto;
}
.inputForm {
	height: 25px;
}
.labelForm {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 7px;
	color: rgb(29, 28, 28);
	font-weight: bolder;
}
.form-btn {
	background-color: #4e4a5c;
	color: white;
	font-size: 14px;
	border: none;
	width: 135px;
	height: 35px;
	box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin: 10px;
}
.nav-btn-create {
	border: none;
	width: 135px;
	height: 35px;
	background: #ff9233;
	box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px; 
	float: right;
}
.class-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.class-item {
	width: 20%;
}
.class-img {
	width: 250px;
}
.card-title {
	margin: 20px;
	text-align: center;
}
.loginForm {
	display: flex;
	flex-direction: column;

	align-items: center;
}
.form {
	margin: 10px;
}

.create-class {
	width: fit-content;
	margin: auto;
}

.create-class h1 {
	text-align: center;
	margin-top: 30px;
}
.invitation {

	text-align: center;
	margin: 100px;
}

